@charset "UTF-8";


/* 네비게이션 */

header{
    width: 100%;
    height: 100px;
    background-color: var(--darkred);
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header::after{
    content: "";
    width: 100%;
    top: 100px;
    left: 0;
    height: 0px;
    background-color: var(--darkred);
    position: absolute; 
    z-index: 1;
    transition: all 1.3s;
    opacity: 0.7;
}
header.on::after{
    height: 220px;
}
header .icon{
    height: 40px;
    width: 200px;
}
header .icon img{
    width: 200px;
    height: 40px;
}
.nav{
    width: 40%;
    height: 100%;
    z-index: 1000;
}
.nav>ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;

}
.nav>ul>li{
    width: 15%;
    width: 100%;
    position: relative;
    text-align: center;
}
.nav>ul>li>a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
   font-size: var(--size-s);
    color: var(--beige);
}
.nav>ul>li>ul{
    position: absolute;
    top: 90px;
    width: 100%;
    padding: 10px;
    display: none;
}
.nav>ul>li>ul>li>a{
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: var(--size-xs);
    color: var(--beige);
}
.nav ul li a:hover{
    font-weight: var(--weight-b);
}

/* 풋터 */
footer{
    width: 100%;
    height: 400px;
    background-color: var(--darkred);
 
}
footer .container{
    display: flex;
    flex-flow: row wrap;
}
#discount{
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    padding: 3% 0;
}
#discount h3{
    width: 100%;
    font-size: var(--size-m);
    color:var(--beige);
}
#discount input{
    width: 80%;
    margin: 1% 0;
    border-radius: 20px;
    padding-left: 3%;
    height: 40px;
    border: 1px solid var(--beige);
    outline: none;
}
#discount button{
    width: 30%;
    height: 40px;
    border: 4px solid var(--darkgreen);
    border-radius: 20px;
    background-color: var(--darkgreen);
    color: var(--beige);
    font-size: var(--size-s);
    margin-top: 1%;
    outline: none;
    box-shadow: inset 0 0 0 var(--beige);
    transition: linear 0.5s;
    cursor: pointer;
}
#discount button:hover{
    box-shadow: inset 195px 0 0 0 var(--beige);
    color: var(--darkgreen);
}



#discount .sns{
    width: 40%;
    margin-left: 70px;
    text-align: right;
    margin-top: 1%;
}
#discount .sns img{
    width: 35px;
    height: 35px;
    margin: 0 2%;
    transition: all 1s;
}
#discount .sns img:hover{
    transform: translateY(-10px);
}
#footerNav{
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 3%;
}
#footerNav dl{
    width: 40%;
}
#footerNav dt,dd{
    font-size: var(--size-s);
    color: var(--beige);
    margin: 2%;
}
#footerNav dl a{
    display: block;
    font-size: var(--size-s);
    color: var(--beige);
    margin: 2%;
}
#footerNav dl a:hover{
    font-weight: var(--weight-b);
}

#footerNav dl:nth-last-child(1){
    font-weight: var(--weight-b);
}
#copyrights{
    width: 100%;
    color: var(--beige);
    font-size: var(--size-s);
}