@charset "UTF-8";

/* 슬라이드 이미지 */
#slideWrap{
    width: 1920px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#slideWrap .slide{
    width: 400%;
    height: 100%;
}
.slide li{
    width: 1920px;
    float: left;
}
.slide li img{
    width: 100%;
    height: 400px;
}

#slideWrap span{
    position: absolute;
    display: block;
    top: 40%;
    transform: translateY(-40%);
    opacity: 0.5;
    cursor: pointer;
    display: none;
}
#slideWrap span:hover{
    opacity: 1;
}

#slideWrap .prev{
    left: 300px;
    width: 40px;
    height: 40px;
    border-top: 1rem solid var(--darkred);
    border-right: 1rem solid var(--darkred);
    transform: rotate(225deg);
}

#slideWrap .next{
    right: 300px;
    width: 40px;
    height: 40px;
    border-top: 1rem solid var(--darkred);
    border-right: 1rem solid var(--darkred);
    transform: rotate(45deg);
}
/* 배달버튼 */
#slideBtn{
    width: 100%;
    height: 180px;
    position: relative;
}
#slideBtn .container{
    background-color: var(--lightgreen);
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#slideBtn .container>div{
    width: 48%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.5);
}
.del{
    border-radius:40px 0 0 40px ;
}
.pack{
    border-radius:0 40px 40px 0 ;
}

#slideBtn .container div a{
    display: inline-block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#slideBtn .container>div>a>img{
    width: 100px;
    height: 60px;
    margin-right: 4%;
}
.delText{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
}
.delText strong{
    width: 100%;
    font-size: var(--size-m);
}
.arrow{
    width: 60px;
    height: 60px;
    background-color: var(--lightred);
    border-radius: 50%;
    text-align: center;
    transition: all .5s;
}
.arrow:hover{
    background-color: var(--darkred);
   
}
.arrow img{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 15px;
}

/* 메뉴 */
#menu{
    width: 100%;
    height: 700px;
}

#menu h2{
    text-align: center;
    font-size: var(--size-l);

}
.menuWrap ul{
    width: 250%;
}

.menuWrap ul li{
    float: left;
}
/* 슬라이드 텍스트 */
.slideText{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.track{
    display: flex;
    position: relative;
    width: 4040px;
    padding-top: 1%;
    animation: slideText 20s linear infinite;
}
.slideText:nth-last-child(3) .track{
    animation: slideText 20s reverse linear infinite;
}
.track img{
    width: 150px;
    height: 150px;
    margin: 0 10px;
    animation: rotatePiz 6s linear infinite;
    transform-origin:50% 50%;
}
.track p{
    font-size: var(--slide-title);
    margin: 0 10px;
    font-weight: var(--weight-bb);
}
.track p:nth-child(4), p:nth-child(5){
    color: var(--white);
    text-shadow: 0 0 10px var(--darkred);
}

@keyframes rotatePiz{
    100%{transform : rotate(360deg);}
}

@keyframes slideText{
    0%{left:0px}
    100%{ left:-2030px}
}



/* 이벤트 */
#event{
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
}
#event h2{
    text-align: center;
    font-size: var(--size-l);
}
.eventScroll{
    display: flex;
}
.pizzaFix{
    position: absolute;
    left: -100px;
    bottom: -150px;
    z-index: -5;
    opacity: 0.9;
}
.pizzaFix img:nth-of-type(1){
    transform: rotate(120deg);
}
.pizzaFix img:nth-of-type(2){
    position: absolute;
    animation: pizzaSlide 4s linear infinite;
}

@keyframes pizzaSlide {
    0%{ transform: rotate(9deg) translate(-75px, 0px);}

    50%{ 
        transform: rotate(9deg) translate(-150px ,40px);
    }
    100%{transform: rotate(9deg) translate(-75px, 0px)}
    
}
/* CF광고 */

#CF{
    width: 100%;
    height: 600px;
    background-color: #333;
}

/* 비지니스 */
#business{
    width: 100%;
    height: 500px;
}
#business .container{
    background-color: cornflowerblue;
}

#store{
    width: 100%;
    height: 350px;
    background:url(../img/bgggg.jpg) center/cover;
}